arduino_firmware/KozlekedesiLampa/build/arduino.avr.uno/KozlekedesiLampa.ino.eep
arduino_firmware/KozlekedesiLampa/build/arduino.avr.uno/KozlekedesiLampa.ino.elf
arduino_firmware/KozlekedesiLampa/build/arduino.avr.uno/KozlekedesiLampa.ino.hex
arduino_firmware/KozlekedesiLampa/build/arduino.avr.uno/KozlekedesiLampa.ino.with_bootloader.bin
arduino_firmware/KozlekedesiLampa/build/arduino.avr.uno/KozlekedesiLampa.ino.with_bootloader.hex
